<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuekehoutai.mapper.CampContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuekehoutai.domain.CampContract">
        <id column="id" property="id" />
        <result column="camp_id" property="campId" />
        <result column="worker_id" property="workerId" />
        <result column="images" property="images" />
        <result column="status" property="status" />
        <result column="cost" property="cost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, camp_id, worker_id, images, status, cost
    </sql>

</mapper>
