<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuekehoutai.haha.mapper.CarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuekehoutai.haha.domain.Car">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="image" property="image" />
        <result column="c_id" property="cId" />
        <result column="u_id" property="uId" />
        <result column="preprice" property="preprice" />
        <result column="price" property="price" />
        <result column="status" property="status" />
        <result column="typ" property="typ" />
        <result column="end_time" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, name, description, image, c_id, u_id, preprice, price, status, typ, end_time
    </sql>
    <select id="selectByDate" parameterType="java.lang.String" resultMap="ResultMap">
        SELECT * FROM t_car WHERE  to_days(endTime) = to_days(#{endTime})
        ORDER BY addtime DESC
     </select>
</mapper>
