<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查询费用清单</title>
<style>
	.for{
		width:280px;
		float:left;
	}
</style>
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
	<div id="app">
		<div>
			<el-form ref="form" :model="user" label-width="80px">
				<div class="for">
					  <el-form-item label="输入用户名:" label-width="100px">
					    <el-input v-model="user.name" ></el-input>
					  </el-form-item>
				 </div>
				 <div class="for">
					  <el-form-item label="选择性别:" label-width="100px">
					    <el-select v-model="user.sex" >
					    	<el-option label="全部" value=""></el-option>
						    <el-option label="男" value="男"></el-option>
						    <el-option label="女" value="女"></el-option>
					    </el-select>
					  </el-form-item>
				</div>  
				 <div class="for">
					   <el-form-item label="输入身份证号:" label-width="100px">
					    <el-input v-model="user.idCard" ></el-input>
					  	</el-form-item>
				 </div>
				
			</el-form>
		</div>
		<el-table :data="list" border style="width: 100%"> 
				<el-table-column fixed prop="id" label="编号"> </el-table-column> 
				<el-table-column  prop="name" label="姓名"> </el-table-column> 
				<el-table-column  prop="sex" label="性别"> </el-table-column> 
				<el-table-column  prop="age" label="年龄"> </el-table-column> 
				<el-table-column prop="idCard" label="身份证号"> </el-table-column> 
				<el-table-column  prop="doctor" label="医生"> </el-table-column> 
				<el-table-column prop="tel" label="电话"> </el-table-column> 
				<el-table-column  prop="deptId" label="科室"> </el-table-column> 
				<el-table-column  prop="bedId" label="床位号"> </el-table-column> 
				<el-table-column :span="5" label="操作">
					<template slot-scope="scope">
						<el-button  @click="spendList(scope.row.id)" type="text" plain size="small" >查询费用详情</el-button> 
					</template>
				</el-table-column> 
		</el-table>
		<el-dialog title="该用户所有医嘱" :visible.sync="showAdviceVisible" width="90%">
			<el-table :data="adviceList" border style="width:100%"> 
				<el-table-column :span="3" fixed prop="id" label="医嘱编号"> </el-table-column> 
				<el-table-column  :span="3" prop="wId" label="医生编号"> </el-table-column> 
				<el-table-column  :span="3"prop="uId" label="用户编号"> </el-table-column>
				<el-table-column :span="7" prop="creatTime" label="创建时间"> </el-table-column>
				<el-table-column  :span="7" label="操作">
					<template slot-scope="scope">
							<el-button type="primary" size="small" @click="queryProjectSpend(scope.row.id)">查看医疗项目详情</el-button><br>
							<el-button type="primary" size="small" @click="queryPrescriptionSpend(scope.row.id)">查看处方药品详情</el-button>
 					</template> 
 				</el-table-column > 
			</el-table>
			<el-button type="text" disabled>住院天数:</el-button>
			<el-button type="text">{{bedList.days}}天</el-button>
			<el-button type="text" disabled>病床价格:</el-button>
			<el-button type="text">￥{{bedList.price}}</el-button>
			<el-button type="text" disabled>住院费用:</el-button>
			<el-button type="text">￥{{bedList.money}}</el-button>
			<span slot="footer" class="dialog-footer">
				<el-button type="text" disabled>总费用:</el-button>
				<el-button type="text">￥{{spend}}</el-button>
				<el-button type="primary" @click="showAdviceVisible = false">关 闭</el-button>
			</span> 
		</el-dialog> 
		<el-dialog title="该医嘱所有项目详情" :visible.sync="showProject" width="80%">	
			<el-table :data="adviceInfo.adviceInfos" border style="width:100%"> 
				<el-table-column fixed prop="project.projectName" label="项目名"> </el-table-column> 
				<el-table-column  prop="project.price" label="价格"> </el-table-column> 
				<el-table-column  prop="number" label="数量"> </el-table-column> 
			</el-table>
			<el-button type="text" disabled>总项目费用:</el-button>
			<el-button type="text">￥{{adviceInfo.money}}</el-button>
			<span slot="footer" class="dialog-footer">
				 <el-button
						type="primary" @click="showProject = false">关 闭</el-button>
			</span> 
		</el-dialog> 
		<el-dialog title="该医嘱所有处方详情" :visible.sync="showPres" width="80%">	
			<el-table :data="pres" border style="width:100%"> 
				<el-table-column fixed prop="drug.name" label="药品名"> </el-table-column> 
				<el-table-column  prop="drug.price" label="价格"> </el-table-column> 
				<el-table-column  prop="number" label="数量"> </el-table-column> 
			</el-table>
			<el-button type="text" disabled>药品总费用:</el-button>
			<el-button type="text">￥{{drugMoney}}</el-button>
			<span slot="footer" class="dialog-footer">
				 <el-button
						type="primary" @click="showPres = false">关 闭</el-button>
			</span> 
		</el-dialog>
		
		
	</div>
	<script type="text/javascript">
	new Vue({
		el:"#app",
		data:{
			uid:"",
			list:[],
			user:{},
			user:{
				name:"",
				sex:"",
				idCard:"",
				doctor:null,
				deptId:null,
			},
			spend:0,
			showPres:false,
			jiesuan:false,
			showAdviceVisible:false,
			showProject:false,
			showDetail:false,
			adviceInfo:{						
				money:"",
				adviceInfos:[],
			},
			pres:[],
			drugMoney:0,
			bedList:{
				days:0,
				money:0,
				price:0,
			},
			adviceList:[],
			adviceId:"",
		},
		created:function(){
			this.selectData();
		},
		methods:{
			selectData:function(){
				var _this=this;
				console.log(_this.user)
				$.ajax({
					url:"/nurse/allUser",
					data:_this.user,
					success:function(data){
						if(data.code==200){
							_this.list=data.list;	
						}
					}
				});
			},
			
			spendList:function(id){
				this.queryHospitalizationSpend(id);
				this.allSpend();
				this.showAdviceVisible=true;
				var _this=this;
				_this.uid=id;
				$.ajax({
					url:"/nurse/spend",
					data:{id:id},
					success:function(data){
						if(data.code==200){
							_this.adviceList=data.list;
						}
					}
				});
			},
			/*查询住院详情，传入的是用户id  传回来住院多少天，花了多少钱*/
			queryHospitalizationSpend:function(id){
				var _this=this;
				_this.uid=id;
				$.ajax({
					url:"/nurse/hospitalization",
					data:{id:id},
					success:function(data){
						if(data.code==200){
							_this.bedList.days=data.list[0];
							_this.bedList.price=data.list[1].price;
							_this.bedList.money=data.list[0]*data.list[1].price;	
						}
					}
				});
			},
			/*查询该医嘱项目花费，传入的是医嘱id,传回来该医嘱的所有项目，单价，次数 总金额*/
			queryProjectSpend:function(id){
				this.showProject=true;
				var _this=this;
				_this.adviceId=id;
				$.ajax({
					url:"/nurse/projectSpend",
					data:{id:id},
					success:function(data){
						if(data.code==200){
							var p=0;
							for(var i=0;i<data.obj.adviceinfo.length;i++){
								p=data.obj.adviceinfo[i].project.price*data.obj.adviceinfo[i].number+p;
							}
							_this.adviceInfo.money=p;
							_this.adviceInfo.adviceInfos=data.obj.adviceinfo;
							_this.adviceId="";
						}
					}
				});
			},
			/*查询该医嘱处方花费，传入的是医嘱id 传回该医嘱的所有药品，单价，总价 */
			queryPrescriptionSpend(id){
				this.showPres=true;
				var _this=this;
				_this.adviceId=id;
				_this.drugMoney=0;
				_this.pres="";
				$.ajax({
					url:"/nurse/prescriptionSpend",
					data:{id:id},
					success:function(data){
						if(data.code==200&&data.obj!=null){
							_this.pres=data.obj.presDrugs;
							var p=0;
							for(var i=0;i<data.obj.presDrugs.length;i++){
								p=data.obj.presDrugs[i].number*data.obj.presDrugs[i].drug.price+p;
							}
							_this.drugMoney=p;
							_this.adviceId="";
						}
					}
				});
			},
			//通过病人id查询总花费金额
			allSpend:function(){
				var _this=this;
				id=_this.uid;
				$.ajax({
					url:"/nurse/allspend",
					data:{id:id},
					success:function(data){
						if(data.code==200){
							_this.spend=data.list[0]+_this.bedList.money;
							_this.uid="";
						}
					}
				});
			}
			
		},
		watch:{
					user:{
						//深度监听 监听对象中属性的变化
						handler:function(newUser){
							this.selectData();
						},
						deep:true
				}
		}
	});
	</script>
</body>
</html>